@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Shadows+Into+Light&display=swap');
p {
    font-family: "Nunito", sans-serif;

}
.cabecalho{
    font-size: 0.8em;
    text-align: center;
}
.titulo{
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    font-style: normal;
    text-align: center;
}
.versiculo{
    font-family:  "Shadows Into Light", cursivo;
    text-align: center;
    font-size: 1.3em;

}
.texto{
    line-height: 1.5;
    font-family: 1.1em;
    text-align: justify;
}
.importante{
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    color: green;

}
.desafio{
    text-align: center;
    background-color: darkgray;
    font-style: italic;
    padding: 40px;

}