h1{
    color: rgb(245, 126, 112);
    background-color: darkred;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
p{
    color: rgb(228, 89, 38);
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;

}
span{
    color: brown;
    font-weight: bold;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: coral;
}
strong{
    color: chocolate;
}